import random

palavras = [
    "código",
    "pixel", "algoritmo",
    "programação", "computador", "internet", "teclado", "mouse",
    "servidor", "nuvem", "robô", "inteligência", "dados",
    "python", "javascript", "desenvolvedor", "bug", "debug",
    "hardware", "software", "rede", "sistema", "arquivo",
    "terminal", "console", "jogo", "forca", "vitória",
    "derrota", "códigofonte", "variável", "função", "loop",
    "condição", "biblioteca", "framework", "api", "git"
]

palavra = random.choice(palavras)

mascarada = "*" * len(palavra)

print(mascarada)

tentativas = 10

while tentativas > 0:
    digitar = input("Digite a palavra: ")

    if digitar == palavra:
        print("Parabéns Você ganhou! 🎉")
        break
    else:
        tentativas -= 1
        print(f"Errado Restam {tentativas} chances!")

if tentativas == 0:
    print(f"Você perdeu A palavra era: {palavra}")
